<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block>
<nav id="main-menu">
     <ul class="nav-bar">
          <li class="nav-button-home"><a href="/main?cate=1">영화 정보 사이트 | 3차 프로젝트</a></li>&nbsp;&nbsp;&nbsp;
          <li class="nav-button-home"><a href="/main?cate=1">현재 상영 중</a></li>
          <li class="nav-button-services"><a href="/main?cate=2">상영 예정</a></li>
          <li class="nav-button-products"><a href="../board/list">자유 게시판</a></li>
          <li class="nav-button-products"><a href="../movie/news">뉴스 검색</a></li>
     </ul>
</nav>
</th:block>
</body>
</html>